h1 {
  color: fuchsia;
  font-weight: 900;
  font-size: 500%;
}

.main{
  text-align: center;
  height: 100vh;
  background-color: rgb(159, 223, 217);
  position: relative;
}

.titleSect{
  padding-top: 200px;
  /* margin-bottom: 200px; */
}

.details{
  margin: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-btn{
  /* font-size: 200%; */
  border: 0px;
  border-radius: 45px;
  width: 100px;
}

.btn-txt{
  margin-top: 5px;
  margin-bottom: 5px;
}