body{
  background: linear-gradient(to top,rgb(116, 114, 114),rgb(182, 174, 174),rgb(116, 114, 114));
}

h1 {
  color: fuchsia;
  font-weight: 900;
  font-size: 500%;
}

.main{
  text-align: center;
  height: 100vh;
  background-color: rgb(159, 223, 217);
  position: relative;
}

.titleSect{
  padding-top: 200px;
  /* margin-bottom: 200px; */
}

.details{
  margin: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-btn{
  /* font-size: 200%; */
  border: 0px;
  border-radius: 45px;
  width: 100px;
}

.btn-txt{
  margin-top: 5px;
  margin-bottom: 5px;
}
#antic{
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#row{
  margin: 0 100px 0 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.center{
  margin:0 auto 0 auto;
}